<div class="header">
  <img src="../../assets/LogoMarajoara.png" alt="Marajoara" class="logo">
  <div class="header-text">
      <p>Rodovia BR-153 - Lote 1-A - Zona de Expansão Industrial</p>
      <p>CEP: 75.340-000 - Hidrolândia - GO</p>
      <p>CNPJ: 24.849.580/0001-54 - I.E. 10.175.560-0</p>
      <p>Fone: (62) 3553-8000</p>
  </div>
</div>

<div class="container">
  <div class="header-info">
      <p><strong>Representante:</strong> Camila</p>
      <p><strong>Data da emissão:</strong> 14/05/2024</p>
      <h2>Pedidos</h2>
  </div>

  <div class="table-containers">
      <div *ngFor="let pedido of pedidos" class="card">
          <h3>Nº {{ pedido.numero }}</h3>
          <div class="flex-order">
              <div>
                  <table class="horizontal-table">
                      <thead>
                          <tr>
                              <th colspan="2">Dados do Cliente</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr class="table-row">
                              <td><strong>CLIENTE:</strong> {{ pedido.cliente }}</td>
                              <td><strong>CNPJ:</strong> {{ pedido.cnpj }}</td>
                              <td><strong>ENDEREÇO:</strong> {{ pedido.endereco }}</td>
                              <td><strong>CIDADE:</strong> {{ pedido.cidade }}</td>
                              <td><strong>PRAZO DE ENTREGA:</strong> {{ pedido.prazoEntrega }}</td>
                              <td><strong>PRAZO DE PAGAMENTO:</strong> {{ pedido.prazoPagamento }}</td>
                              <td colspan="2"><strong>OBS:</strong> {{ pedido.obs }}</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <div>
                  <table class="vertical-table">
                      <thead>
                          <tr>
                              <th>CAIXAS</th>
                              <th>PRODUTO</th>
                              <th>PREÇO UNITÁRIO</th>
                              <th>PREÇO CAIXA</th>
                              <th>TOTAL</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let produto of pedido.produtos">
                              <td>{{ produto.caixas }}</td>
                              <td>{{ produto.descricao }}</td>
                              <td>R$ {{ produto.precoUnitario.toFixed(2) }}</td>
                              <td>R$ {{ produto.precoCaixa.toFixed(2) }}</td>
                              <td>R$ {{ produto.total.toFixed(2) }}</td>
                          </tr>
                          <tr>
                              <td colspan="4" class="total-label">TOTAL DO PEDIDO</td>
                              <td class="total-value">R$ {{ pedido.totalPedido.toFixed(2) }}</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>

  <div class="summary-card card">
      <table class="summary">
          <thead>
              <tr>
                  <th>Descrição</th>
                  <th>Total de Caixas</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let total of getTotalCaixas()">
                  <td class="total-labelFim">{{ total.descricao }}</td>
                  <td class="total-labelFim">{{ total.total }}</td>
              </tr>
          </tbody>
      </table>
  </div>

  <button (click)="exportToExcel()">Exportar para Excel</button>
</div>
