<div class="dialog">
    <div class="dialog-title">
        <h1>Filtrar Pedidos</h1>
        <button class="close-button" (click)="cancel()">X</button>
    </div>
    <form [formGroup]="filterForm" class="dialog-content">
        <div class="form-field">
            <label for="clienteDe">Vendedor De</label>
            <input id="clienteDe" formControlName="clienteDe" maxlength="6" placeholder="000000">
            <span *ngIf="filterForm.get('clienteDe')!.hasError('required')">Este campo é obrigatório</span>
            <span *ngIf="filterForm.get('clienteDe')!.hasError('maxlength')">Máximo de 6 caracteres</span>
        </div>
        <div class="form-field">
            <label for="clienteAte">Vendedor Até</label>
            <input id="clienteAte" formControlName="clienteAte" maxlength="6" placeholder="000000">
            <span *ngIf="filterForm.get('clienteAte')!.hasError('required')">Este campo é obrigatório</span>
            <span *ngIf="filterForm.get('clienteAte')!.hasError('maxlength')">Máximo de 6 caracteres</span>
        </div>
        <div class="form-field">
            <label for="dataDe">Data De</label>
            <input id="dataDe" formControlName="dataDe" placeholder="dd/mm/aaaa" appDateMask>
            <span *ngIf="filterForm.get('dataDe')!.hasError('required')">Este campo é obrigatório</span>
            <span *ngIf="filterForm.get('dataDe')!.hasError('dateInvalid')">Formato de data inválido</span>
        </div>
        <div class="form-field">
            <label for="dataAte">Data Até</label>
            <input id="dataAte" formControlName="dataAte" placeholder="dd/mm/aaaa" appDateMask>
            <span *ngIf="filterForm.get('dataAte')!.hasError('required')">Este campo é obrigatório</span>
            <span *ngIf="filterForm.get('dataAte')!.hasError('dateInvalid')">Formato de data inválido</span>
        </div>

    </form>
    <div class="dialog-actions">
        <button (click)="applyFilter()" [disabled]="filterForm.invalid">Aplicar</button>
        <button (click)="resetAndClose()" class="bring-all-button">Trazer Tudo</button>
    </div>
</div>