.dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    width: 350px; /* Ajuste a largura conforme necessário */
    max-width: 100%;
    box-sizing: border-box;
}

.dialog-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.close-button {
    background: none;
    border: none;
    cursor: pointer;
    color: red;
    font-size: 20px;
}

.dialog-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-field label {
    font-weight: bold;
}

.form-field input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dialog-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
}

button {
    background-color: #3f51b5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #303f9f;
}

button:disabled {
    background-color: #90bcff;
    color: #000000;
    cursor: not-allowed;
}

.bring-all-button {
    background-color: #c0c0c0;
}
